@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root
{
    --foreground: #141414;
    --colore-giallo: #ffeb3b;
    --colore-bg-scuro: #15171a;
    --colore-bg-tabella: #23272f;
    --colore-bg-header: #1c1c1c;
    --colore-testo: #cdcdcd;
    --colore-testo-chiaro: #fff;
    --colore-testo-nero: #181c22;
    --colore-bordo: #444;
    --colore-bordo-chiaro: #c2c2c2;
    --colore-hover: #ffe600;
    --border-radius: 6px;
    --max-page-width: 70%;
    --sidebar-width: 250px;
}

@font-face
{
    font-family: 'IconFont';
    src: url(fonts/icons.ttf);
}

img
{
    user-select: none;
    -webkit-user-drag: none;
}

html 
{ 
    scroll-behavior: smooth; 
    overflow-y: scroll; 
}

body
{
    font-family: 'Inter', Arial, sans-serif;
    background: #0d0d10;
    color: var(--colore-testo);
    margin: 0;
    padding: 0;
    text-align: center;
}

.print-only { display: none; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; }

#sidebar 
{
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    background: var(--foreground);
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.defaultPage 
{
    margin-left: var(--sidebar-width);
    padding: 2rem;
}

.defaultPageContent
{
    max-width: var(--max-page-width);
    margin: 0 auto;
    padding: 20px;
}

.pageTitle
{
    margin-top: 20px;
}

.defaultLink
{
    color: #666;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease;
    user-select: none;
}

.defaultLink:hover
{
    color: var(--colore-hover);
}

.defaultLink:active
{
    color: var(--colore-giallo);
}