@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Custom dark scrollbar */

::-webkit-scrollbar 
{
    width: 12px;
    background: #181c22;
}
::-webkit-scrollbar-thumb 
{
    background: #444;
    border-radius: var(--border-radius);
    border: 2px solid #181c22;
}
::-webkit-scrollbar-thumb:hover 
{
    background: #666;
}
::-webkit-scrollbar-corner 
{
    background: #181c22;
}
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #444 #181c22;
}

/* Colors */
:root
{
    --foreground: #141414;
    --colore-giallo: #ffeb3b;
    --colore-bg-scuro: #13161b;
    --colore-bg-tabella: #23272f;
    --colore-bg-header: #181c22;
    --colore-testo: #cdcdcd;
    --colore-testo-chiaro: #fff;
    --colore-testo-nero: #181c22;
    --colore-bordo: #444;
    --colore-bordo-chiaro: #c2c2c2;
    --colore-hover: #ffe600;
    --border-radius: 6px;
    --max-page-width: 70%;
}

@font-face
{
    font-family: 'IconFont';
    src: url(fonts/icons.ttf);
}

h1
{
    text-align: center;
    margin-top: 80px;
}

img
{
    user-select: none;
    -webkit-user-drag: none;
}

html { overflow-y: scroll; }

body
{
    font-family: 'Inter', Arial, sans-serif;
    background: #0d0d10;
    color: var(--colore-testo);
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Bottoni colore */
.colorBtn.default 
{
    background: var(--colore-bg-scuro);
    border: 1px solid var(--colore-bordo);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.4s, color 0.4s;
    margin: 0 auto 0 auto !important;
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorBtn.default:hover
{
    background: var(--colore-giallo);
    color: var(--colore-bg-scuro);
}

.colorButtonIcon 
{
    font-size: 14px;
    font-weight: bold;
    font-family: IconFont;
}

/* Cerchio colore */
.colorCircle 
{
    border: none;
    border-radius: 50%;
    display: block;
    margin: 0 auto 0 auto !important;
    min-width: 22px;
    max-width: 22px;
    min-height: 22px;
    max-height: 22px;
}

.colorBtn:focus .colorCircle,
.colorBtn:hover .colorCircle
{
    outline: 2px solid var(--colore-giallo);
    box-shadow: 0 0 0 2px #ffeb3b44;
}

#patchOptions 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

label[for="showImagesCheckbox"], #patchOptions label 
{
    color: var(--colore-giallo);
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    user-select: none;
}

#fixType 
{
    padding-right: 32px !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: var(--border-radius);
    border: 1px solid var(--colore-bordo);
    color: var(--colore-testo-chiaro);
    transition: border 0.3s, box-shadow 0.3s;
}

#fixType:focus 
{
    border: 1.5px solid var(--colore-giallo);
    box-shadow: 0 0 0 2px #ffeb3b44;
    outline: none;
}

.typeText
{
    margin-left: 16px;
}

#dmxForm select 
{
    background: var(--colore-bg-scuro);
    color: var(--colore-testo-chiaro);
    border: 1px solid var(--colore-bordo);
    border-radius: var(--border-radius);
    padding: 6px 10px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin-right: 8px;
    transition: border .3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#dmxForm select:focus 
{
    border: 1px solid var(--colore-giallo);
    outline: none;
}

#dmxForm 
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
    flex-wrap: wrap;
}

label 
{
    color: var(--colore-giallo);
    font-weight: 500;
    margin-right: 4px;
    user-select: none;
}

input 
{
    background: var(--colore-bg-scuro);
    color: var(--colore-testo-chiaro);
    border: 1px solid var(--colore-bordo);
    border-radius: var(--border-radius);
    padding: 6px 10px;
    width: 80px;
    height: 22px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    transition: all .3s ease;
    user-select: none;
}

input:focus 
{
    border: 1px solid var(--colore-giallo);
    background: var(--colore-bg-scuro);
    color: var(--colore-testo-chiaro);
    outline: none;
}

.patchList .empty-message 
{
    color: var(--colore-testo-chiaro);
    text-align: center;
    display: block;
    margin: 32px auto;
    font-size: 1.2em;
    font-weight: 500;
    max-width: 100vw;
}

.empty-message
{
    font-style: italic;
}

.print-only 
{
    display: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; }

.loadingOverlay 
{
    opacity: 0;
    pointer-events: none;
    display: flex;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s cubic-bezier(.4,0,.2,1);
}

.loadingOverlay.active 
{
    opacity: 1;
    pointer-events: all;
}

/* Progress ring loader */
.loader 
{
    border: 8px solid var(--colore-bg-scuro);
    border-top: 8px solid var(--colore-giallo);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 0.8s linear infinite;
    margin: 0 auto;
}

@keyframes spin 
{
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

#sidebar 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Larghezza fissa */
    height: 100vh;
    background-color: var(--foreground);  /* Opaco, senza alpha */
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.defaultPage 
{
    margin-left: 250px; /* Equivale alla larghezza della sidebar */
    padding: 2rem;
}

.defaultPageContent
{
    max-width: var(--max-page-width);
    margin: 0 auto;
    padding: 20px;
}

.pageTitle
{
    margin-top: 20px;
}

.defaultLink
{
    color: #666;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease;
    user-select: none;
}

.defaultLink:hover
{
    color: var(--colore-hover);
}

.defaultLink:active
{
    color: var(--colore-giallo);
}

.homeVideo
{
    position: absolute;
    inset: 0;
    width: 105%;
    height: 105vh;
    z-index: 0;
    object-fit: cover;
    opacity: 0.5;
    pointer-events: none;
}

#home > div, #home > section, #home > .web-only {
    position: relative;
    z-index: 1;
}

.shine, .chrome {
	font-size: 3em;
	margin: 0 auto;
	margin-bottom: 1em;
	font-weight: bold;
}

.shine {
	background: #222 gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
	background-size: 150px;
	color:  rgba(255, 255, 255, 0.3);
	-webkit-background-clip: text;
	background-clip: text;
	animation-name: shine;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

.chrome {
	background: #222 gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
	background-image: -webkit-linear-gradient(-45deg, transparent 0%, transparent 30%, #fff 50%, transparent 60%, transparent 100%);
	background-size: 2600px;
	color:  rgba(255, 255, 255, 0.1);
	background-clip: text;
	animation-name: shine;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.4);
}

@keyframes shine 
{
    from {
        background-position: -1500px;
    }
    to {
        background-position: 550px;
    }
}

.fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s cubic-bezier(.4, 0, .2, 1), transform 1s cubic-bezier(.4, 0, .2, 1);
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.homeCard
{
    user-select: none;
}

.homeCard:hover
{
    transform: scale(1.15);
}