.shine, .chrome 
{
	font-size: 3em;
	margin: 0 auto;
	margin-bottom: 1em;
	font-weight: bold;
}

.shine 
{
	background: #222 gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
	background-size: 150px;
	color:  rgba(255, 255, 255, 0.3);
	-webkit-background-clip: text;
	background-clip: text;
	animation-name: shine;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

.chrome 
{
	background: #222 gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
	background-image: -webkit-linear-gradient(-45deg, transparent 0%, transparent 30%, #fff 50%, transparent 60%, transparent 100%);
	background-size: 2600px;
	color:  rgba(255, 255, 255, 0.1);
	background-clip: text;
	animation-name: shine;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.4);
}

@keyframes shine 
{
    from {
        background-position: -1500px;
    }
    to {
        background-position: 550px;
    }
}

.fade-in 
{
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s cubic-bezier(.4, 0, .2, 1), transform 1s cubic-bezier(.4, 0, .2, 1);
}

.fade-in.visible 
{
    opacity: 1;
    transform: translateY(0);
}