.loader 
{
    border: 8px solid var(--colore-bg-scuro);
    border-top: 8px solid var(--colore-giallo);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 0.8s linear infinite;
    margin: 0 auto;
}

@keyframes spin 
{
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

.loadingOverlay 
{
    opacity: 0;
    pointer-events: none;
    display: flex;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s cubic-bezier(.4,0,.2,1);
}

.loadingOverlay.active 
{
    opacity: 1;
    pointer-events: all;
}