::-webkit-scrollbar 
{
    width: 12px;
    background: var(--foreground);
}
::-webkit-scrollbar-thumb 
{
    background: #444;
    border-radius: var(--border-radius);
    border: 2px solid #181c22;
}
::-webkit-scrollbar-thumb:hover 
{
    background: #666;
}
::-webkit-scrollbar-corner 
{
    background: var(--foreground);
}
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #444 var(--foreground);
}