/*** Text Selection ***/
::selection {
    background-color: black;
    color: var(--colore-giallo);
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: black;
    color: var(--colore-giallo);
}

/***For Other Browsers ***/
::-o-selection {
    background-color: black;
    color: var(--colore-giallo);
}

::-ms-selection {
    background-color: black;
    color: var(--colore-giallo);
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: black;
    color: var(--colore-giallo);
}

h1
{
    text-align: center;
    margin-top: 80px;
}

a
{
    font-size: 1.1rem;
    color: var(--colore-giallo);
    text-decoration: underline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    transition: all .3s;
}

a:hover
{
    color: #beac0e;
}