/* DMX TOOLS - DEVELOPED BY ALESSANDRO CASETI */

.patchTable 
{
    min-width: 100%;
    table-layout: fixed;
    margin: 20px auto 0 auto;
    border-collapse: collapse;
    background: var(--colore-bg-tabella);
    color: var(--colore-testo);
    box-shadow: 0 2px 8px rgba(0,0,0,0.18);
    border-radius: 8px;
}

.patchTable.firstTable
{
    min-width: 100%;
    table-layout: auto;
    margin: 20px auto 0 auto;
    border-collapse: collapse;
    background: var(--colore-bg-tabella);
    color: var(--colore-testo);
    box-shadow: 0 2px 8px rgba(0,0,0,0.18);
    border-radius: 8px;
}

.empty-message
{
    font-style: italic;
}

.patchTable th.universoCol,
.patchTable td.universoCol 
{
    min-width: 80px !important;
    max-width: 80px !important;
    padding: 0 !important;
    overflow: hidden !important;
}

.patchList .empty-message 
{
    color: var(--colore-testo-chiaro);
    text-align: center;
    display: block;
    margin: 32px auto;
    font-size: 1.2em;
    font-weight: 500;
    max-width: 100vw;
}

.patchTable th.canaleCol
{
    min-width: 80px;
    max-width: 80px;
}

.patchTable td.nomeLuceCol 
{
    min-width: 260px;
    max-width: 520px;
    text-align: left;
}

.coloreCol,
.patchTable th.coloreCol 
{
    width: 80px;
    text-align: center;
    padding: 0;
}

.patchTable th.tipoCol,
.patchTable td.tipoCol 
{
    padding: 0;
    min-width: 150px;
    max-width: 150px;
}

.patchTable thead
{
    background: var(--colore-bg-header);
    user-select: none;
}

.patchTable th,
.patchTable td
{
    border: 1px solid var(--colore-bordo);
    padding: 10px 14px;
    text-align: center;
    vertical-align: middle;
}

.patchTable tr:nth-child(even)
{
    background: #2c313a;
}

.patchTable tr:hover
{
    background: #1a1a1f;
}

.patchTable tr
{
    transition: background 0.3s ease;
}

.typeLayout 
{
    display: flex;
    align-items: center;
    gap: 0px;
    width: 170px;
    justify-content: flex-start;
    margin-left: 8px;
}

.patchList
{
    font-size: 18px;
    text-align: left;
}

.patchTypeImage
{
    height:32px;
    max-width:40px;
    vertical-align:middle;
    margin-right:0px;
}