.cards-container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.settingsCard
{
    border-radius: var(--border-radius);
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background: var(--foreground);
    max-height: 70px;
}

.cardIcon
{
    font-family: IconFont, Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: var(--colore-primary);
    margin-left: 18px;
    user-select: none;
}

.setting-info
{
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 0px;
    margin-left: 28px;
    line-height: 0.7;
}

.setting-info h2
{
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}

.setting-info h3
{
    font-weight: 500;
    font-size: 14px;
    color: #888;
    margin-top: -4px;
}

.setting-item
{
    margin-left: auto;
    margin-right: 18px;
}

.clickableCard
{
    cursor: pointer;
    transition: all 0.3s ease;
}

.clickableCard:hover
{
    background: var(--colore-bg-header);
    .clickableCardIcon
    {
        color: var(--colore-hover);
        transform: scale(1.3);
    }
}

.clickableCardIcon
{
    transition: all 0.3s ease;
    font-weight: 600;
    font-family: IconFont, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #666;
    user-select: none;
}

.log-item
{
    line-height: 1;
    margin-top: 4px;
    text-align: left;
}

.cmdLogsButtonsDiv
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 12px;
}